<a href="https://colab.research.google.com/github/torhec1234/Actividades_Aprendizaje-/blob/main/Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np 
import pandas as pd 

path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv'
 

df1 = pd.read_csv(path )
# print(df1.head())


df = pd.read_csv(path , index_col = 0)
# print(df.head())

df.index.name = None 
df.head()

df       #Imprimimos todas las columnas de la lista CSV 

drop = [ 'Gender', 'Glasses',  'Complete'] #Selecciono las columnas que voy a borrar 


df.drop(columns = drop, inplace = True) #Comando para quitat las columnas que hacen match con las columnas del csv 

df.head()

,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
1,56,1,1,62.0,61.0,79,1,7
2,26,1,1,62.0,60.0,70,1,8
3,33,1,1,66.0,64.0,85,1,0
4,39,1,0,64.0,63.0,87,1,10
5,27,2,0,73.0,75.0,72,0,4

In [15]:
df.Score.min()  #sacamos el valor minimo de la columna score

0

In [17]:
df.Score.max()

10

In [19]:
varX = df.Score.head(10) #para hacer pruebas y utilizar solo los primeros 10 registros 

varX

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

In [21]:
##Normalization - Min - Max 


def normalizeMinMax(x):
  min = np.min(x)
  max = np.max(x)
  range = max-min 
  return [(xi - min)/
            range 
            for xi in x   
  ]

In [22]:
x = varX.copy()
x

1      7
2      8
3      0
4     10
5      4
6      3
7     10
8      9
9      5
10     8
Name: Score, dtype: int64

In [24]:
y = normalizeMinMax(x)
y

[0.7, 0.8, 0.0, 1.0, 0.4, 0.3, 1.0, 0.9, 0.5, 0.8]

In [26]:
print (min(x))
print(min(y))

print (max(x))
print(max(y))

0
0.0
10
1.0